#header-box{

    background-color: black;
    border: 2px solid black;
    padding: 20px;
    margin: auto;
    width: 90%;
    color: white;

    display: flex;
    flex-wrap: wrap;
    gap: 80%;
}

.main-container{

    text-align: center;
    margin-top: 15%;
    
}

#footer-box{

    background-color: black;
    color: white;
    padding: 20px;
    margin: auto;
    width: 96%;
    margin-top: 8%;

    display: flex;
    align-items: center;
    justify-content: center;
}