html{
    background-color: #D8BFD8;
}

body{
    font-family: sans-serif;
    padding: 20px;
}

h1{
    color: #4B0082;
    text-align: center;
}

.paragraph-style-1{
    font-family: sans-serif;
    padding: 20px;
}

hr{
    
}